@tailwind base;

@tailwind components;

@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}


/* architects-daughter-regular - latin */
@font-face {
  font-family: "Architects Daughter";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../public/fonts/ArchitectsDaughter/architects-daughter-v17-latin-regular.eot")
      format("embedded-opentype"),
    url("../public/fonts/ArchitectsDaughter/architects-daughter-v17-latin-regular.woff2")
      format("woff2"),
    url("../public/fonts/ArchitectsDaughter/architects-daughter-v17-latin-regular.woff")
      format("woff"),
    url("../public/fonts/ArchitectsDaughter/architects-daughter-v17-latin-regular.ttf")
      format("truetype"),
    url("../public/fonts/ArchitectsDaughter/architects-daughter-v17-latin-regular.svg")
      format("svg");
}

/* BowlbyOneSC/-sc-regular - latin */
@font-face {
  font-family: "Bowlby One SC";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../public/fonts/BowlbyOneSC/bowlby-one-sc-v19-latin-regular.eot")
      format("embedded-opentype"),
    url("../public/fonts/BowlbyOneSC/bowlby-one-sc-v19-latin-regular.woff2")
      format("woff2"),
    url("../public/fonts/BowlbyOneSC/bowlby-one-sc-v19-latin-regular.woff")
      format("woff"),
    url("../public/fonts/BowlbyOneSC/bowlby-one-sc-v19-latin-regular.ttf")
      format("truetype"),
    url("../public/fonts/BowlbyOneSC/bowlby-one-sc-v19-latin-regular.svg")
      format("svg");
}

  team.filter(member => member.position == "developer")

  .headingA {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
  font-family: "Architects Daughter";
}

.headingB {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffcc00;
  font-family: "Architects Daughter";
}

.headingC {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: orange;
  font-family: "Architects Daughter";
}

.headingD {
  -webkit-text-stroke-width: 0.66px;
  -webkit-text-stroke-color: #595959;
  font-family: "Architects Daughter";
  font-weight: extrabold;
}

.headingE {
  -webkit-text-stroke-width: 7.99px;
  -webkit-text-stroke-color: #595959;
  font-family: "Bowlby One SC";
  font-weight: extrabold;
}

.headingF {
  -webkit-text-stroke-width: 5.9px;
  -webkit-text-stroke-color: #fffffc;
  font-family: "Bowlby One SC";
  font-weight: extrabold;
}



.newspaperA {
  columns: 133px 2;
  color: white;
  font-family: "Architects Daughter";
}

.newspaper {
  columns: 166px 2;
  column-gap: 6rem;
  line-height: 0.66rem;
  color: white;
  font-family: "Architects Daughter";
  column-rule: thin inset orange;
}

.newspaperC {
  columns: 66px 3;
  column-gap: 6rem;
  line-height: 0.66rem;
  color: white;
  font-family: "Architects Daughter";
  columns: 66px 1;
  column-gap: 6rem;
  line-height: 0.66rem;
  color: white;
  font-family: "Architects Daughter";
  column-rule: thin inset orange;
}


